/* colors to be reused throughout the css */
:root {
    --aqua: #00aeef;
    --grey: #77787b;
    --light: lightgrey;
    --sky: #83deff;
    --navy: #0f4b69;
}

/*content highlight color and background color */
::selection {
    background-color: var(--sky);
    color: var(--grey);
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    margin: 0 auto;
    background-color: var(--light);
}

/* shared settings for H tags */
h1, h2, h3, h4, h5, h6 {
    color: var(--aqua);
    font-weight: 800;
    line-height: 1.2;
    margin: 0;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    margin-top: 0;
}

/* controls the positionng of the text in the aqua box at the top */
header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    background-color: var(--aqua);
    padding: 20px;
    margin: 0 auto;
}

header h1 {
    font-size: 36px;
    color: #fff;
    line-height: 1em;
}

nav {
    display: flex;
    flex-wrap: wrap;
}

nav p {
    font-size: 18px;
    font-weight:400;
    color: #fff;
    line-height: 1.5;
    text-align: right;
    padding-left: 10px;
    margin: 0;
}

nav a:link {
    color: #fff;
    text-decoration: none;
}

nav a:visited {
    color: #fff;
}

nav a:hover {
    color: var(--grey);
}

/* hero seting for header background and quote */
.hero-image {
    display: flex;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    align-items: center;
    justify-content: center; 
} 

.hero-image img {
    width: 100%;
    margin: 0 auto;
    border-bottom: 3px solid var(--aqua);
}

.hero-text {
    position: absolute;
    margin-top: 40px;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.hero-text h2 {
    color: var(--navy);
    font-size: 24px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.hero-text p {
    color: var(--navy);
    font-size: 16px;
    text-align: center;
}

/* settings for the body section of the page */
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-evenly;
    padding: 20px;
    width: 60%;
    max-width: 1200px;
    margin: 0 auto;
}

section {
    background-color: #fff;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 20px 0;
}

section h2 {
    border-bottom: 2px solid var(--aqua);
    margin-bottom: 10px;
}

section img {
    float: right;
    max-width: 150px;
    border: 1px solid var(--aqua);
    border-radius: 20px 0;
    margin-left: 10px;
}

section a:link {
    color: #000;
    text-decoration: none;
}

section a:hover {
    color: var(--aqua)
}

section a:visited {
    color: var(--grey)
}

/* setting for large image in the Portfolio section */
.container {
    position: relative;
    width: 100%;
}
.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    float: none;
    max-width: 1200px;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}
.container:hover .image {
    opacity: 0.3;
}
  
.container:hover .middle {
    opacity: 1;
}
  
.text {
    background-color: var(--aqua);
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    margin-bottom: 20px;
}

/* controls the small images in the portfolio section */
.small-container {
    position: relative;
    width: 40%;
}

.small-image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    float: left;
    max-width: 1200px;
}

.small-right {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    float: right;
    max-width: 1200px;
}
    
.smallmiddle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
     -ms-transform: translate(-50%, -50%)
    }

.small-container:hover .image {
    opacity: 0.3;
}
      
.small-container:hover .smallmiddle {
    opacity: 1;
}

footer {
    background-color: var(--aqua);
    height: 20px;
}

@media screen and (max-width: 768px) {
    .hero-text {
        margin-top: 10px;
    }

    .hero-text h2 {
        font-size: 18px;
        margin-bottom: 0;
    }

    .hero-text p {
        font-size: 14px;
        margin: 0;
    }
}